.upper-block-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  .title-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; //перенос на слудующую линию контейнеров

    .card-img{
      width: 100%;
      margin-right: 90px;
      margin-left: 90px;
      padding: 0px;
      display: flex;
      align-items: center;

      .img-title-block{
        max-width: 200px;
        max-height: 200px;
      }
      .text{
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        margin-left: 40px;
      }
    }
    .card-title{
      margin-left: 20px;

    }

  }

  .bottom-block{
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    .text-content{
      font-size: 20px;
    }
  }
}
