<div class="upper-block-section">
  <div class="title-block">
    <mat-card class="card-img">
      <img class="img-title-block" src="https://cdn4.imgbb.ru/user/9/97193/201601/dd1117c88ce1954430698b83c7ba0e3d.png">
      <span class="text">Это то что вы должны знать о взаимодействии системы с ВК</span>
    </mat-card>
    <!--<div class="card-title">-->
      <!--<span class="text">Это то что вы должны знать о взаимодействии системы с ВК</span>-->
    <!--</div>-->
  </div>
  <div class="bottom-block">
    <mat-card>
      <p class="text-content">
        В частности, автор этого материала хотел бы затронуть стеганографию. Стеганография — это сокрытие самого факта передачи информации.

        Чем это принципиально отличается от криптографии.
        В случае с криптографическими преобразованиями факт сокрытия информации очевиден. То есть, когда А передает информацию в Б, то В знает, что информация секретная, но не имеет (в лучшем случае) алгоритмов ее расшифровки, если она попадет ему в руки.

        Стеганографические преобразования сообщения позволяют скрыть от злоумышленника сам факт передачи секретной информации. То есть, В, возможно и заметит обмен информацией между А и Б, но не усмотрит в ней ничего ценного.

        Чем стеганографический метод лучше криптографического.
        Сокрытие факта передачи информации уменьшает риски того, что секретная или конфиденциальная информация попадет к злоумышленнику, а даже если и попадет, он может не увидеть в ней ничего ценного (почему — объясним ниже).

        Это только в фильмах секретная информация героя обеспечена непробиваемым шифром. В реальной жизни, злоумышленник отправит к герою двух здоровенных Г. и Д., которые после очередного поломанного сустава все-таки узнают ключ для дешифровки.

        В случае с стегосообщением, злоумышленник даже не будет мотивирован для таких действий, потому что стегосообщение не привлекает к себе внимания.


      </p>
    </mat-card>
  </div>
</div>
