<mat-card class="header-sections">
  <!--<span class="title-sections">Разделы доступные для просмотра и подключения</span>-->
  <p class="title-sections">Разделы доступные для просмотра и подключения</p>
</mat-card>

<div class="container-sections">

  <mat-card class="example-card">
    <img mat-card-image (mouseover)="onMouseOver(1)" (mouseout)="onMouseOut(1)" src="{{imgVk}}" alt="">
  </mat-card><mat-card class="example-card">
    <img mat-card-image (mouseover)="onMouseOver(2)" (mouseout)="onMouseOut(2)" src="{{imgHb}}" alt="">
  </mat-card><mat-card class="example-card">
    <img mat-card-image (mouseover)="onMouseOver(3)" (mouseout)="onMouseOut(3)" src="{{imgFb}}" alt="">
  </mat-card>

</div>
