.main-user-profile {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  justify-content: space-evenly;

  .info-block {
    .card-info-user {
      padding: 10px;
      display: flex;
      flex-direction: column;

      .img-avatar {
        max-width: 400px;
        max-height: 300px;
      }
      .content{
      }
    }
  }

  .extended-info-block {
    width: 830px;
    display: flex;
    flex-direction: column;
    .title-block{
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      .user-name{
        font-size: 28px;
        padding-bottom: 10px;
      }
      .button-block-profile{
        display: flex;
        justify-content: space-evenly;
        .button-write-message{
          width: 200px;
        }

      }

    }

  }
}
