<mat-toolbar color="primary" class="toolbar-top">
  <mat-toolbar-row>
    <span class="title-app">AggregatNews.io</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary"><mat-icon>sentiment_satisfied</mat-icon> Максим</button>


    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>compare_arrows</mat-icon>
        Войти</button>
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        Профиль</button>
    </mat-menu>



  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

