
.toolbar-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;

  .title-app{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

}
