<div class="main-container">


  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        Inu is the smallest of the six original and distinct spitz breeds of dog from Japan...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <span>
        534
      </span>
      <mat-icon svgIcon="thumbs-up"></mat-icon>
      <button mat-button>Подробнее</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        Inu is the smallest of the six original and distinct spitz breeds of dog from Japan...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <span>
        534
      </span>
      <mat-icon svgIcon="thumbs-up"></mat-icon>
      <button mat-button>Подробнее</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        Inu is the smallest of the six original and distinct spitz breeds of dog from Japan...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <span>
        534
      </span>
      <mat-icon svgIcon="thumbs-up"></mat-icon>
      <button mat-button>Подробнее</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        Inu is the smallest of the six original and distinct spitz breeds of dog from Japan...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <span>
        534
      </span>
      <mat-icon svgIcon="thumbs-up"></mat-icon>
      <button mat-button>Подробнее</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        Inu is the smallest of the six original and distinct spitz breeds of dog from Japan...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <span>
        534
      </span>
      <mat-icon svgIcon="thumbs-up"></mat-icon>
      <button mat-button>Подробнее</button>
    </mat-card-actions>
  </mat-card>







</div>
