<mat-card>
  <div class="example-container">
    <span>Войти через социальную сеть</span>
    <a class="buttonSocNet" mat-flat-button color="primary" routerLink=".">VK</a>
    <a class="buttonSocNet" mat-flat-button color="primary" disabled="true" routerLink=".">Facebook</a>
    <a class="buttonSocNet" mat-flat-button color="primary" disabled="true" routerLink=".">Twitter</a>
  </div>
  <div class="button-block">
    <button mat-stroked-button color="primary" disabled="false">Зарегистрироваться</button>
    <button mat-stroked-button color="primary" disabled="false">Войти через логин и пароль</button>
  </div>
</mat-card>
